{% extends "base.html" %}
{% block content %}
{% load static %}
<h1>Customer {{ customer_record.id  }} Information</h1>



<div class="card" style="width: 30rem;">
  <img class="card-img-top" src="{% static 'man.png' %}" alt="Avatar Image" style="width: 150px; height: auto;">
  <div class="card-body">
    <h5 class="card-title">{{ customer_record.first_name }}
            {{ customer_record.last_name }}</h5>
    <p class="card-text">
            Email: {{ customer_record.email }}<br />
            Phone: {{ customer_record.phone }}<br />
            Address: {{ customer_record.address }}<br />
            City: {{ customer_record.city }}<br />
            State: {{ customer_record.state }}<br />
            Zipcode: {{ customer_record.zipcode }}<br />
            ID Created: {{ customer_record.created_at }}<br />
            Customer ID: {{ customer_record.id  }}<br /></p>
        <a href="tel://{{ customer_record.phone }}" class="btn btn-info">Call Customer</a>
        <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'update_record' customer_record.id%}" class="btn btn-warning">Update Record</a>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
  </div>
</div>



{% endblock %}